
#form-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}


.login-h1, .titleR {
  font-size: 24px;
  color: #2d3436;
  margin-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
  font-size: 16px;
  color: #636e72;
  margin-bottom: 20px;
}


.label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #2d3436;
}


input[type="text"], input[type="email"], input[type="password"], input[type="button"] {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #0984e3;
  box-shadow: 0 0 5px rgba(116, 185, 255, 0.5);
  outline: none;
}


.submit, .submit_s {
  background-color: #0984e3;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit:hover, .submit_s:hover {
  background-color: #74b9ff;
  transform: scale(1.05);
}


.msg {
  margin-top: 10px;
  font-size: 14px;
  color: #636e72;
}

.msg a {
  color: #0984e3;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.msg a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  #form-container {
    padding: 15px;
    max-width: 90%;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="button"] {
    font-size: 14px;
  }

  .submit, .submit_s {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 14px;
  }

  .label, .msg {
    font-size: 12px;
  }
}
