
.navbar2 {
  background: linear-gradient(90deg, #2d9cb2, #122088);
  padding: 15px 30px;
  border-bottom: 3px solid #0a0a0a;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.navbar-logo img {
  height: 50px;
  transition: transform 0.5s ease-in-out;
}

.navbar-logo img:hover {
  transform: scale(1.3) rotate(360deg);
}

.navbar-logo h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.nav2-ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav2-ul li {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.nav2-ul li:hover {
  transform: scale(1.2);
  color: #ffdc3d;
  text-shadow: 1px 1px 10px #fff;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.link:hover {
  color: #ff5f57;
}

.nav2-imgS {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.nav2-imgS:hover {
  transform: rotateY(360deg);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.hamburger:hover {
  color: #ffdc3d;
}

.nav2-ul.show {
  display: block !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .navbar-content {
    /* flex-direction: column; */
    align-items: flex-start;
    margin-left: 90%;
  }

  .nav2-ul {
    display: none;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(90deg, #28862b, #0b590a);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 15px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    z-index: 1;
  }
  .navbar2{
    display: flex;
    
  }

  .nav2-ul li {
    padding: 10px 0;
    width: 50%;
  }

  .hamburger {
    display: block;
  }
  .nav2-imgS{
    display: none;
  }
  .navbar-logo {
    width: 150px;
  }
}
